<div class="content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (submit)="formSubmitted()">
          <div fxLayout="column">
            <p>Enter new username and password</p>
            <mat-form-field class="full-width-input" fxFlex="grow">
              <input matInput placeholder="Email" formControlName="email" required>
              <!-- <mat-error *ngIf="isFieldInvalid('email')">
                Please inform your user name
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width-input" fxFlex="grow">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <!-- <mat-error *ngIf="isFieldInvalid('password')">
                Please inform your password
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width-input" fxFlex="grow">
                <input matInput type="password" placeholder="New Password" formControlName="password_new" required>
                <!-- <mat-error *ngIf="isFieldInvalid('password')">
                  Please inform your password
                </mat-error> -->
              </mat-form-field>
            <button fxFlex="grow" mat-raised-button color="primary" type="submit">Update</button>

            <button mat-flat-button class="register-btn" (click)="route.navigate(['login'])">
              Back to login page
            </button>

            <button mat-flat-button class="register-btn" (click)="route.navigate(['register'])">
              New user ? Signup
            </button>

          </div> 
        </form>
      </mat-card-content>
    </mat-card>
  </div>