<div class="home-container">


  <div class="-toolbar">
    <p>
      <mat-toolbar>
        <div class="row align-right col-md-offset-9">
          <button color="error" class="custom-btn" color="warning" (click)="logout()" mat-raised-button type="button">
            Logout
          </button>
          <button mat-raised-button class="custom-btn" color="primary" (click)="createNewProject()" type="button">
            Create New
          </button>
        </div>
      </mat-toolbar>
    </p>
  </div>

<table mat-table [dataSource]="(tableDataSource$ | async)" class="mat-elevation-z8 w-100">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> Owner </th>
      <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>