
<form [formGroup]="form" (submit)="_createNewProject($event)">
  <div fxLayout="column">
    <h1>Add new project</h1>
    <mat-form-field class="full-width-input" fxFlex="grow">
      <input matInput placeholder="Project Name" formControlName="name" required>
        <!-- <mat-error *ngIf="isFieldInvalid('name')">
    Please inform your user name
        </mat-error> -->
    </mat-form-field>

    <mat-form-field class="full-width-input" fxFlex="grow">
        <input matInput type="text" placeholder="Owner" formControlName="owner" required>
        <!-- <mat-error *ngIf="isFieldInvalid('email')">
        Please inform your location
        </mat-error> -->
      </mat-form-field>

    <mat-form-field class="full-width-input" fxFlex="grow">
      <input matInput type="text" placeholder="Cost" formControlName="cost" required>
        <!-- <mat-error *ngIf="isFieldInvalid('email')">
    Please inform your location
        </mat-error> -->
    </mat-form-field>

    
    <button fxFlex="grow" mat-raised-button color="primary" type="submit">ADD</button>

    <button mat-flat-button class="register-btn" (click)="dialogRef.close()">
      Close
    </button>
    
  </div> 
</form>