<div class="content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (submit)="formSubmitted()">
          <div fxLayout="column">
            <p>Please login to continue</p>
            <mat-form-field class="full-width-input" fxFlex="grow">
              <input matInput placeholder="Email" formControlName="email" required>
              <!-- <mat-error *ngIf="isFieldInvalid('email')">
                Please inform your user name
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="full-width-input" fxFlex="grow">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <!-- <mat-error *ngIf="isFieldInvalid('password')">
                Please inform your password
              </mat-error> -->
            </mat-form-field>
            <button fxFlex="grow" mat-raised-button color="primary" type="submit">Login</button>

            <button mat-flat-button class="register-btn" (click)="register()">
              Not a Member? Register
            </button>

            <button mat-flat-button class="register-btn" (click)="forgotPassword()">
              Forgot password
            </button>

          </div> 
        </form>
      </mat-card-content>
    </mat-card>
  </div>