/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field{
    line-height: 2.125;
    font-size: 16px;
}
.mat-form-field-infix {
    min-width: 300px !important;
}
.w-100{
    width: 100%;
}



.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }
